*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    background: black;
    height: 100px;
    width: 100%;
    z-index: 100;
}
label.logo{
    color:white;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px ;
}
nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
a:active,a:hover{
    color:red ;
    transition: .5s;
}
.checkbtn{
    display: none;
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;

}
#check{
    display: none;
}



.video-container {
    position: relative;
    width: 100%;
    height:1700px;
    overflow: hidden;
   
    
  }
  
  .repeated-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    
  }
 .about{
    position:absolute;
    top:120vh;
    font-size: 50px;
    color: white;
    padding: 80px;
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    z-index: -3;

  }


  
.stills .header {
    text-align: center;
}
  
  .stills .header h1{
    font-size: 50px;
    color: white;
    margin: 20px;
    margin-bottom: 40px;
  }
 .stills .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
 
  .stills .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .stills .column img {
    margin-top: 8px;
    vertical-align: middle;
  }


  .container{
    width: 100%;
    height: 100vh;
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-top: 2px solid rgb(79, 79, 118);
  }
  form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    border-radius: 10px;
  }
  form h3{
    color: black;
    font-weight: 800;
    margin-bottom: 20px;
  }
  form input,form textarea{
    border: 0;
    margin: 10px 0;
    padding: 0;
    outline: none;
    background: white;
    font-size: 16px;
  }
  form button{
    padding: 15px;
    background: rgb(40, 4, 4);
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  }
  form button:active,form button:hover{
    background-color: red;
  }
  

  
@media(max-width:1150px){
    .about{
       
        top:100vh;
        font-size: 45px;
        
    }

}
@media(max-width:952px){
    label.logo{
        
        padding-left: 50px;
    }
    .about{
       
        top:80vh;
        font-size: 45px;
        
    }
   
}

@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:black;
        
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:red;
    }
    #check:checked ~ul{
        left: 0;
    }
    .stills .column {
        flex: 50%;
        max-width: 50%;
      }
    .about{
       
        top:80vh;
        font-size: 40px;
        padding: 35px;
        
    }
    .video-container {
        position: relative;
        width: 100%;
        height:1300px;
        overflow: hidden;
       
        
      }
    
}
@media(max-width:770px)
{
    .video-container {
        
        height:1500px;
        }
}
 @media (max-width: 600px) {
   .stills .column {
      flex: 100%;
      max-width: 100%;
    }
    label.logo{
        font-size: 25px;
    }
    .video-container {
        
        height:1600px;
        }
    .about{
       
            top:60vh;
            font-size: 40px;
            padding: 35px;
            
        }
}
@media (max-width: 430px){
    .about{
       
        top:40vh;
        font-size: 25px;
        padding: 35px;
        
    }
    .video-container {
        
        height:1000px;
        }
}
@media (max-width: 380px)
{
    .about{
       
        top:30vh;
        font-size: 25px;
        padding: 30px;
        
    } 
    .video-container {
        
        height:1000px;
        }
}
 
    
   
  
